:root {
    --grid_size: 600px;
    --tiles_for_width: 49;
}

table, #gradient_box {
    width: var(--grid_size);
    height: var(--grid_size);
}

table {
    position: absolute;
}

#gradient_box {
    background-image: url("japan.jpg");
    background-size: cover;
    z-index: 3;
}

td {
    background-color: rgba(0, 0, 0, 255);
    transition: background-color 0.5s;
    width: calc(100% / var(--tiles_for_width));
    height: calc(100% / var(--tiles_for_width));
}

td:hover {
    background-color: rgba(30, 30, 30, 0);
}

